<header>
  <nav>

    <div class="logo">
      <span class="logo-p1">kool-kids</span>
      <span class="logo-p2">snax</span>
    </div>

    <div class="nav-bar">
      <div class="user" data-user="<%= user_id %>">
        <span class="user-name">
          <%= username %>
        </span>

        <% if (!admin) { %>
          <span class="user-orders">

            <a href="/order_history"><i class="fa-solid fa-receipt"></i></a>
          </span>
        <% } %>
      </div>

      <div class="nav-bar-menu">
        <span class="user-menu-bar">
          <a href="/"><i class="fa-solid fa-bars"></i></a>
        </span>
      </div>
    </div>

  </nav>

</header>
