<div class="modal fade" id="orderPlaced" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

    <!-- Display order confirmation -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order Placed!</h4>
      </div>
      <div class="modal-body">
        <h5>Thanks for ordering with us!</h5>

        <h6>You will receive a text message shortly with an estimated time for pick up</h6>


      </div>

      <div class="modal-footer">
        <button class="btn btn-default" id="view-order-status">View Order Status</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="orderUpdated" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

    <!-- Display order confirmation -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order Updated</h4>
      </div>
      <div class="modal-body">
        <h5>This order has been updated.</h5>

        <h6>A text message will be sent to the customer shortly informing them of their order status.</h6>

      </div>
    </div>

  </div>
</div>
