<!-- Order has been placed -->
<div class="modal fade" id="orderPlaced" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

    <!-- Display order confirmation -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order Placed!</h4>
      </div>
      <div class="modal-body">
        <h5>Thanks for ordering with us!</h5>

        <h6>You will receive a text message shortly with an estimated time for pick up</h6>


      </div>

      <div class="modal-footer">
        <button class="btn btn-default" id="view-order-status">View Order Status</button>
      </div>
    </div>

  </div>
</div>


<!-- Order has been updated -->
<div class="modal fade" id="orderUpdated" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

    <!-- Display order update confirmation -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order Updated</h4>
      </div>
      <div class="modal-body">
        <h5>This order has been updated.</h5>

        <h6>A text message will be sent to the customer shortly informing them of their order status.</h6>

      </div>
    </div>

  </div>
</div>


<!-- Add new form item -->

<div class="modal fade" id="add-new-item" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

    <!-- Display form to add new item -->
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Add New Item:</h4>
      </div>

      <div class="modal-body">

        <div class="mb-3">
          <label for="item-name" class="form-label">Menu item name:</label>
          <input type="add-item-name" class="form-control" id="add-item-name" placeholder="Takoyaki">
        </div>

        <div class="mb-3">
          <label for="item-desc" class="form-label">Item description:</label>
          <textarea class="form-control" id="add-item-desc" rows="3" placeholder="A mouthwatering..."></textarea>
        </div>


        <div class="mb-3">
          <label for="item-img" class="form-label">Item image:</label>
          <input type="add-item-img" class="form-control" id="add-item-img" placeholder="Link"></textarea>
        </div>

        <div class="col-md-4">
          <label for="item-menu-group" class="form-label">Menu Group</label>
          <select id="add-item-menu-group" class="form-select">
            <option selected>Choose...</option>
            <option value="2">Starters</option>
            <option value="1">Mains</option>
            <option value="3">Desserts</option>
            <option value="4">Drinks</option>
          </select>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-default" id="add-item-btn">Add Item</button>
      </div>

    </div>

  </div>
</div>
