DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432

TWILIO_ACCOUNT_SID= Enter your own Twilio account SID
AUTH_TOKEN= Enter your own Authorization Token
PHONE_NUMBER= Enter your own phone number ex. '+13335554444'
TWILIO_NUMBER= Enter Twilio phone number
