<!DOCTYPE html>
<html lang="en">

<head>
  <title>Kool-kids Snax</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- SCSS stylesheets -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/items.css" type="text/css" />



  <!-- Custom Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&family=Inter:wght@300;400;600;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/load-orders.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/auto-scroll.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
  <main class="content">

    <div class="scroll-up">
      <span class="scroll-to-top-click">
        <i class="fa-solid fa-angles-up" id="arrow-scroll"></i>
      </span>
    </div>

    <div class="title">
      <h2>Orders:</h2>
    </div>

    <section class="orders-container">

      <!-- Populate orders with mark up below -->
      <!-- <article class="order-container">
        <div class="order-header">
          <div class="order-id">
            <h3>Order#: 1</h3>
          </div>
        </div>

        <div class="order-card">
          <div class="order-details">
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
            <div class="order-price">Total_price</div>
          </div>

          <div class="order-edit">
            <div class="order-status">
              <label for="order-status">Order Status:</label>
              <select name="order-status" id="order-status">
                <option value="pending">Pending</option>
                <option value="received">Received</option>
                <option value="ready">Ready for Pick up</option>
                <option value="complete">Fulfilled</option>
              </select>
            </div>

            <div class="order-time">
              <label for="order-time">Estimated Time:</label>
              <select name="order-time">
                <option value="fifteen">15 minutes</option>
                <option value="twenty-five">25 minutes</option>
                <option value="forty-five">45 minutes</option>
                <option value="sixty">60 minutes</option>
              </select>
            </div>

          </div>

        </div>


      </article> -->


    </section>

  </main>
</body>
