/*
  Stylizes cart display
*/

@import "variables";

.cart {
  font-family: $button-font;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-top: 2.9em;


  &-title {
    font-family: $button-font;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 2em;
  }

  &-checkout {
    display: flex;
    justify-content: center;
    top: 1em;
    padding: 1em;
    border-top: 1px solid $primary-text-color;
  }

  &-total-line {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid $cart-inside-border;
  }
}

.cart-clear {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cart-container {
  font-size: 0.8em;
  position: fixed;
  padding: 2em;
  margin: 3em 0 3em 0;
  right: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 270px;
}

.cart-details {

  .item-detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $cart-inside-border;
  }
}

.cart-price-details {
  margin-top:1em;
  border-top: 1px solid $primary-text-color;
}

button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:hover,
button:focus {
  opacity: .75;
}

@media only screen and (min-width: 1100px) {
  .cart-container {
    position: fixed;
    padding: 2em;
    margin: 3em 3em 3em 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 400px;
  }
};
