@import "variables";

:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
  --accent-color: #EC2049;
  --hover-color: #EC2049;
  --cart-inside-border: #e2e8e4;
}

[data-theme="dark"] {
  --background-color: #323437;
  --text-color: #fff;
  --accent-color: #296efd;
  --hover-color: #296efd;
  --cart-inside-border: #5c5c5c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
