/*
  Stylizes global header
*/

@import "variables";

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .logo {
    font-family: $primary-feature-font;
    font-weight: 600;

    .logo-p1 {
      background: #547980;
    }
  }

  .nav2 {
    font-family: $primary-text-font;
    color: $primary-text-color;
  }

}
