/*
  Stylizes global header
*/

@import "variables";

nav {
  display: flex;
  flex-direction: row;

  .logo {
    font-family: $primary-feature-font;
    font-weight: 600;

    .logo-p1 {
      background: #547980;
    }
  }
}
