/*
  Stylizes global header
*/

nav {
  display: flex;
  flex-direction: row;

  .logo {
    font-family: $primary-feature-font;
    font-weight: 600;
    border: 5px solid red;

    .logo-p1 {
      border: 5px black;
    }
  }
}
