/*
  Stylizes individual menu item
*/

@import "variables";

.menu-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}

.item-container {
  display: flex;
  margin: 0 2em 2em 0;
  flex-direction: column;
  max-width: 200px;
  width: 100%;

  .item-img-container {
    width: 14.4em;
    height: 14.4em;

    .item-img {
      max-width: inherit;
      max-height: inherit;
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }


  .item-header {
    margin: 0.5em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      display: flex;
      font-weight: 400;
      font-size: 1em;
    }

  }
}

.item-description {
  color: $desc-text-color;
  font-size: 0.9em;
  font-style: italic;
}

.item-title {
  display: flex;
  flex-direction: row;

  .menu-item-add {
    margin-right: 0.3em;
    cursor: pointer;

    &:hover{
      color: $hover-color;
    }
  }
}
