// See: https://sass-lang.com/

@import "variables";

body,
html {
  margin: 2em 4em 0 4em;
}

/* Stylizes menu-content */

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 2em;
    display: flex;
    font-weight: 400;
    font-size: 1.7em;
  }

  h3 {
    margin-top: 2em;
    display: flex;
    font-weight: 400;
    font-size: 1.2em;
  }

}

.orders-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  article.order-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em 0 1em 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .order-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: inherit;
    }
  }
}
