// See: https://sass-lang.com/

@import "variables";

body,
html {
  margin: 2em 1em 0 4em;
}

/* Stylizes menu-content */

main {
  display: flex;
  flex-direction: row;
}

.menu-group-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
  max-width: 700px;
  font-family: $button-font;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-width: 500px;
  width: 100%;

  h2 {
    margin-top: 2em;
    display: flex;
    font-weight: 400;
    font-size: 1.7em;
  }

  h3 {
    margin-top: 1em;
    display: flex;
    font-weight: 400;
    font-size: 1.2em;
  }

}

.orders-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

article.order-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 1em 0 1em 0;
  width: 100%;
  font-family: $button-font;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.order-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 0.4em;
  padding-bottom: 1em;
}

.order-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
}

.order-status {
  text-align: right;
}

.order-history {
  display: flex;
  flex-direction: column;
  width: 100%;

  article {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em 0 1em 0;
    width: 100%;
    font-family: $button-font;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .order-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top:1em;
  padding-top: 1em;
  border-top: 1px solid $cart-inside-border;
  text-align: right;
}

.order-edit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  button {
    align-self: flex-end;
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: $button-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 1em;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    width: 50%;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  button:hover,
  button:focus {
    opacity: .75;
  }
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  border-top: 1px solid $cart-inside-border;
  margin-top:1em;
  padding-top: 1em;
}

@media only screen and (min-width: 1100px) {

  main {
    margin: 2em 4em 0 4em;
  }

  section.content {
   max-width: 1300px;

   .menu-items {
     width: auto;
   }

 }
};
