@import "variables";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout
*/

body {
  display: flex;
  flex-direction: column ;
  background: $primary-bg-color;
  font-family: $primary-text-font;
  font-weight: 400;
  min-height: 100vh;
}
