@import "variables";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout
*/

body {
  display: flex;
  flex-direction: column ;
  background: $primary-bg-color;
  font-family: $primary-text-font;
  font-weight: 400;
  min-height: 100vh;
}

.scroll-up {
  bottom: 2em;
  right: 0;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1;
}

/* Creates icon for scroll */
#arrow-scroll {
  padding: 0.85em 0 0 0.98em; /* Centers arrow within circle */
  color: $primary-bg-color;
  font-size: 30px;
  border-radius: 50%;
  background: $feature-color;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#arrow-scroll:hover {
  background-color: $hover-color;
}


/* Styling for links */

a:link {
  color: $primary-text-color;
  text-decoration: none;
}

a:visited {
  color: $primary-text-color;
  text-decoration: none;
}

a:hover {
  color: $hover-color;
  text-decoration: none;
}

a:active {
  color: $primary-text-color;
  text-decoration: none;
}


/* Styling for buttons */

button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  opacity: .75;
}

@media only screen and (min-width: 950px) {
  body {
    display: flex;
    flex-direction: column ;
    background: $primary-bg-color;
    font-family: $primary-text-font;
    font-weight: 400;
    min-height: 100vh;
  }
};
