$primary-text-font: 'Inter', sans-serif;
$primary-feature-font:  'Heebo', sans-serif;
$button-font: 'Azeret Mono', sans-serif;

$primary-bg-color: #FFFFFF;
$feature-color: #EC2049;

$primary-text-color: #000000;
$desc-text-color: #636363;
$hover-color: #EC2049;

$cart-inside-border: #e2e8e4;
